<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.208_android"
        tools:targetApi="31">
        <activity
            android:name=".dance"
            android:exported="false" />
        <activity
            android:name=".english"
            android:exported="false" />
        <activity
            android:name=".cybersce"
            android:exported="false" />
        <activity
            android:name=".nineth"
            android:exported="false" />
        <activity
            android:name=".practice"
            android:exported="false" />
        <activity
            android:name=".gift"
            android:exported="false" />
        <activity
            android:name=".stem"
            android:exported="false" />
        <activity
            android:name=".volley"
            android:exported="false" />
        <activity
            android:name=".music"
            android:exported="false" />
        <activity
            android:name=".month"
            android:exported="false" />
        <activity
            android:name=".book"
            android:exported="false" />
        <activity
            android:name=".bott"
            android:exported="false" />
        <activity
            android:name=".nycu"
            android:exported="false" />
        <activity
            android:name=".aws"
            android:exported="false" />
        <activity
            android:name=".ait"
            android:exported="false" />
        <activity
            android:name=".tcreative"
            android:exported="false" />
        <activity
            android:name=".dragon"
            android:exported="false" />
        <activity
            android:name=".ability"
            android:exported="false" />
        <activity
            android:name=".python"
            android:exported="false" />
        <activity
            android:name=".internet"
            android:exported="false" />
        <activity
            android:name=".creative"
            android:exported="false" />
        <activity
            android:name=".open"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_teacher2"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_teacher1"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_34"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_32"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_31"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_30"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_29"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_28"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_26"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_25"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_24"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_23"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_22"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_21"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_20"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_19"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_18"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_17"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_16"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_15"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_14"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_13"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_12"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_11"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_10"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_9"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_8"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_7"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_6"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_5"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_4"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_3"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_2"
            android:exported="false" />
        <activity
            android:name=".gics"
            android:exported="false" />
        <activity
            android:name=".aic"
            android:exported="false" />
        <activity
            android:name=".AIC"
            android:exported="false" />
        <activity
            android:name=".activity_1"
            android:exported="false" />
        <activity
            android:name=".Activity_1"
            android:exported="false" />
        <activity
            android:name=".awards_1"
            android:exported="false" />
        <activity
            android:name=".activity"
            android:exported="false" />
        <activity
            android:name=".introduuction.intro_1"
            android:exported="false" />
        <activity
            android:name=".awards"
            android:exported="false" />
        <activity
            android:name=".introduction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>